@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&family=DM+Mono:wght@400;500&family=DM+Sans:wght@300;400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "DM Mono", ui-monospace, SFMono-Regular, monospace;
}

:root {
  --bg: #0f0e0d;
  --bg2: #1a1917;
  --bg3: #242220;
  --surface: #1e1c1a;
  --surface2: #2a2826;
  --border: #333130;
  --border2: #444240;
  --text: #f0ede8;
  --text2: #9e9890;
  --text3: #5a5650;
  --accent: #e8622a;
  --accent2: #f0845a;
  --green: #4ade80;
  --amber: #fbbf24;
  --red: #f87171;
  --blue: #60a5fa;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
}

.font-syne {
  font-family: 'Syne', sans-serif;
}
